extends ../base
block content
    if errorMessage 
        small=errorMessage
    form(method="post") 
        input(type="password", placeholder="Old password", name="oldPassword")
        input(type="password", placeholder="New password", name="newPassword")
        input(type="password", placeholder="New password confirm", name="newPasswordComfirm")
        input(type="submit", value="Change")